<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto col-8">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/map">map</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div id="appContainer" class="container">

        <div class="mx-auto col-7">
            <img src="images/ltMap.png" id="imgMap" class="mapper noborder icolor00ff00 img-fluid" alt=""
                usemap="#map" />
            <map name="map">
                <area shape="poly"
                    coords="306, 162, 305, 172, 298, 176, 295, 187, 306, 191, 308, 219, 317, 241, 317, 243, 303, 240, 295, 268, 290, 277, 271, 272, 275, 286, 256, 278, 243, 287, 237, 297, 225, 320, 216, 328, 205, 326, 204, 333, 211, 335, 208, 357, 207, 368, 215, 375, 193, 398, 188, 409, 197, 417, 210, 410, 217, 425, 217, 439, 233, 435, 252, 435, 248, 456, 263, 463, 255, 485, 264, 498, 274, 502, 281, 509, 266, 526, 270, 545, 278, 573, 281, 584, 291, 577, 308, 586, 317, 587, 316, 602, 288, 640, 284, 647, 304, 655, 323, 666, 320, 672, 326, 695, 355, 694, 363, 702, 387, 704, 379, 714, 384, 733, 384, 741, 366, 743, 355, 744, 345, 751, 335, 753, 328, 749, 322, 744, 324, 733, 318, 728, 309, 728, 299, 731, 283, 724, 272, 717, 268, 711, 255, 712, 241, 707, 232, 693, 219, 685, 205, 678, 194, 680, 186, 680, 177, 665, 168, 648, 160, 635, 148, 645, 139, 651, 139, 638, 133, 627, 126, 616, 128, 607, 139, 612, 122, 603, 116, 612, 124, 590, 126, 572, 127, 563, 122, 537, 116, 525, 108, 511, 106, 495, 105, 481, 100, 466, 91, 451, 84, 445, 79, 394, 77, 365, 81, 349, 82, 300, 101, 293, 107, 297, 117, 294, 124, 274, 120, 256, 133, 252, 140, 238, 160, 225, 169, 226, 178, 222, 184, 205, 193, 203, 200, 201, 207, 193, 219, 188, 231, 191, 243, 191, 252, 182, 267, 175, 274, 168, 286, 170, 298, 166" />
                <area shape="poly"
                    coords="304, 162, 306, 171, 292, 172, 295, 190, 309, 188, 304, 209, 310, 225, 317, 238, 317, 241, 305, 240, 297, 254, 293, 275, 273, 271, 272, 274, 276, 286, 263, 282, 252, 280, 243, 292, 235, 303, 228, 320, 224, 325, 211, 325, 204, 326, 202, 333, 213, 334, 206, 349, 208, 362, 208, 370, 215, 376, 198, 390, 191, 399, 188, 411, 198, 417, 207, 409, 214, 419, 216, 426, 217, 437, 227, 434, 238, 437, 248, 436, 251, 444, 247, 457, 262, 463, 254, 480, 259, 493, 262, 501, 272, 498, 278, 507, 293, 503, 308, 502, 318, 502, 331, 484, 342, 478, 374, 467, 389, 475, 404, 474, 420, 475, 432, 474, 437, 466, 448, 463, 443, 436, 434, 419, 461, 413, 461, 390, 481, 386, 493, 376, 487, 353, 474, 351, 466, 343, 468, 325, 474, 309, 503, 300, 497, 289, 492, 275, 474, 281, 465, 288, 455, 282, 440, 280, 425, 279, 422, 261, 414, 258, 418, 235, 422, 220, 437, 216, 438, 195, 447, 194, 464, 193, 470, 181, 466, 167, 467, 159, 441, 156, 430, 150, 419, 148, 409, 152, 402, 157, 388, 150, 377, 153, 364, 145, 352, 144, 344, 141, 324, 145, 316, 145, 310, 153" />
                <area shape="poly"
                    coords="279, 507, 312, 501, 315, 504, 334, 481, 344, 486, 343, 477, 376, 467, 389, 477, 395, 472, 408, 478, 422, 473, 427, 474, 434, 470, 434, 481, 434, 489, 444, 495, 440, 511, 448, 514, 455, 523, 463, 522, 460, 529, 466, 538, 473, 543, 478, 550, 472, 558, 484, 562, 491, 561, 484, 570, 486, 580, 491, 585, 498, 582, 501, 586, 498, 591, 505, 601, 514, 600, 519, 606, 516, 614, 513, 623, 519, 629, 529, 627, 535, 638, 546, 631, 555, 630, 562, 626, 562, 637, 571, 645, 565, 655, 582, 656, 589, 650, 599, 654, 612, 646, 615, 658, 619, 662, 639, 663, 653, 662, 660, 663, 661, 670, 671, 676, 689, 675, 692, 679, 685, 691, 687, 707, 682, 715, 675, 729, 672, 733, 659, 736, 646, 736, 624, 732, 606, 727, 592, 723, 579, 723, 561, 726, 548, 730, 535, 730, 524, 730, 516, 734, 508, 736, 497, 740, 480, 744, 465, 739, 457, 734, 438, 744, 425, 745, 408, 740, 388, 739, 382, 739, 379, 726, 380, 712, 387, 704, 376, 700, 366, 700, 360, 695, 350, 693, 336, 693, 327, 695, 321, 679, 319, 666, 315, 660, 299, 653, 285, 648, 289, 636, 300, 622, 310, 608, 316, 596, 313, 581, 304, 584, 294, 579, 282, 582, 277, 565, 273, 552, 268, 539, 269, 524, 278, 515" />
                <div data-city="kaunas">
                    <h3 id="kaunasId">Kaunas</h3>
                    <area shape="poly"
                        coords="690, 677, 694, 678, 686, 692, 685, 712, 675, 727, 671, 733, 685, 744, 706, 750, 714, 753, 710, 764, 698, 771, 680, 777, 666, 784, 666, 790, 682, 796, 685, 816, 690, 819, 702, 810, 722, 827, 719, 837, 720, 844, 728, 851, 719, 865, 711, 870, 727, 868, 729, 877, 732, 888, 727, 892, 734, 905, 734, 917, 725, 926, 727, 930, 736, 928, 742, 940, 733, 944, 742, 965, 753, 959, 755, 967, 760, 976, 764, 980, 753, 996, 765, 999, 769, 992, 782, 994, 784, 999, 793, 994, 794, 984, 809, 985, 820, 978, 816, 968, 824, 962, 836, 958, 843, 964, 844, 968, 866, 962, 870, 953, 879, 956, 891, 972, 921, 971, 923, 940, 938, 933, 932, 905, 937, 896, 945, 895, 958, 896, 957, 886, 972, 896, 979, 853, 988, 845, 1009, 841, 1007, 816, 1019, 816, 1021, 808, 1005, 795, 992, 797, 975, 778, 964, 774, 959, 762, 981, 743, 968, 728, 952, 705, 944, 691, 940, 677, 941, 671, 926, 665, 925, 641, 916, 640, 920, 612, 929, 599, 927, 593, 917, 585, 914, 575, 899, 572, 888, 572, 880, 564, 871, 560, 868, 569, 853, 578, 848, 569, 841, 573, 829, 571, 831, 559, 817, 546, 812, 544, 800, 543, 791, 533, 794, 523, 786, 522, 756, 537, 744, 543, 733, 554, 727, 561, 708, 561, 706, 546, 698, 540, 685, 544, 685, 553, 674, 551, 662, 538, 655, 531, 648, 529, 639, 535, 630, 539, 621, 521, 602, 525, 591, 525, 584, 534, 585, 546, 585, 547, 574, 546, 566, 554, 552, 555, 544, 560, 533, 565, 527, 554, 522, 547, 512, 548, 504, 544, 486, 557, 483, 567, 489, 585, 501, 584, 497, 593, 503, 601, 515, 600, 518, 607, 518, 615, 514, 624, 523, 625, 535, 639, 548, 629, 561, 630, 560, 638, 569, 645, 566, 655, 584, 657, 588, 651, 601, 653, 613, 649, 615, 662, 630, 662, 639, 663, 649, 661, 660, 660, 660, 671, 674, 674, 690, 678, 689, 676, 690, 679, 689, 677, 689, 677, 691, 680, 679, 670, 679, 670, 679, 670, 672, 675" />
                </div>
                <div data-city="vilnius">
                    <h3 id="vilniusId">Vilnius</h3>
                    <area shape="poly"
                        coords="1028, 1130, 1022, 1121, 1023, 1109, 1006, 1104, 1008, 1092, 1023, 1084, 1039, 1075, 1042, 1067, 1050, 1064, 1047, 1044, 1051, 1034, 1066, 1029, 1073, 1007, 1056, 1013, 1034, 1018, 1023, 1023, 998, 1022, 987, 1005, 968, 1008, 959, 1018, 932, 1015, 923, 1010, 922, 977, 924, 942, 935, 932, 931, 905, 943, 897, 955, 900, 958, 887, 974, 895, 979, 852, 1009, 840, 1005, 814, 1021, 815, 1017, 805, 1004, 794, 992, 797, 974, 777, 961, 776, 957, 768, 978, 744, 950, 707, 940, 682, 945, 670, 924, 666, 925, 638, 918, 638, 919, 612, 928, 597, 941, 589, 949, 574, 955, 568, 965, 572, 979, 567, 976, 546, 993, 546, 1007, 561, 1012, 570, 1026, 576, 1022, 586, 1012, 594, 1016, 605, 1033, 615, 1043, 614, 1061, 609, 1068, 633, 1090, 633, 1104, 658, 1117, 651, 1109, 672, 1116, 676, 1126, 676, 1129, 694, 1113, 702, 1109, 725, 1124, 728, 1130, 748, 1150, 748, 1160, 756, 1201, 749, 1210, 739, 1227, 737, 1238, 743, 1243, 749, 1261, 749, 1261, 716, 1269, 716, 1252, 705, 1247, 692, 1235, 685, 1242, 665, 1246, 651, 1258, 633, 1267, 631, 1277, 644, 1288, 638, 1304, 647, 1327, 645, 1341, 636, 1358, 641, 1367, 656, 1374, 664, 1391, 670, 1419, 670, 1440, 672, 1469, 667, 1488, 652, 1517, 652, 1508, 666, 1494, 678, 1495, 695, 1477, 699, 1456, 703, 1448, 695, 1438, 710, 1421, 704, 1401, 704, 1382, 716, 1387, 727, 1388, 733, 1376, 758, 1370, 767, 1351, 773, 1335, 790, 1317, 785, 1297, 797, 1282, 809, 1268, 829, 1263, 844, 1256, 861, 1257, 885, 1255, 913, 1259, 934, 1260, 952, 1242, 967, 1227, 1000, 1214, 1033, 1206, 1057, 1223, 1062, 1247, 1058, 1247, 1058, 1245, 1068, 1245, 1080, 1261, 1081, 1277, 1093, 1267, 1102, 1271, 1125, 1250, 1129, 1232, 1141, 1214, 1137, 1205, 1121, 1203, 1112, 1212, 1105, 1215, 1095, 1211, 1081, 1197, 1081, 1189, 1075, 1183, 1066, 1171, 1073, 1146, 1079, 1137, 1082, 1124, 1082, 1116, 1106, 1101, 1121, 1087, 1137, 1072, 1134, 1060, 1118" />
                </div>
            </map>
        </div>

        <div class="mx-auto col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">City</th>
                        <th scope="col">Date</th>
                        <th scope="col">Avrg. temperature</th>
                        <th scope="col">Humidity</th>
                        <th scope="col">Wind Speed</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

    <script type="text/javascript" src="javascripts/lib/mapper.js"></script>
    <script type="text/javascript" src="javascripts/lib/imageMapResizer.min.js"></script>
    <script type="text/javascript" src="javascripts/showTempDataToMap.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
</body>

</html>